#app_content {
  overflow:hidden;
  min-height: 500px;

  #enterPostalCode {
    display: inline-block;
    margin-top: -3px;
  }

  #postal_code {
    display: inline;
    width: 150px;
  }

  .sale_item {
    border: 1px solid #3ADF00;
    padding: 10px;
    border-radius: 5px;
    background: #F2FBEF;
    margin: 0 0 5px 25px;
    color: #0B610B;

    #extra_info {
      font-size: 10px;
    }
  }

  .deal_details {
    border: 1px solid #F3E2AA;
    padding: 10px;
    background: #FBF5EF;
    margin: 0 0 4px;
    border-radius: 5px;
    color: #FF8000;
  }

  .title {
    font-weight: bold;
  }

  .merchant_logo {
    width: 100px;
    float: left;
  }

  .deal_info {
    float:left;
  }


}