<div id="search_bar">
    <input type="text" placeholder="Postal Code..." id="postal_code" class="form-control" />&nbsp;<div class="btn btn-primary" id="enterPostalCode">Find Deals</div>
    <br/><br/>
</div>
<div id="search_results"></div>