<div class="deal_parent">

    <div class="deal_details"></div>
    <div class="sales">
        {{#each sale_items}}
            <div class="sale_item">
                <div id="name">{{name}}</div>
                <div id="merchant">{{merchant}}</div>
                <div id="price">{{price}}</div>
            </div>
        {{/each}}
    </div>
</div>
